  	<h3><a href='/blog/post/<%= blogcat.id%>'><%= blogcat.cat_name%></a></h3>
  	<small>Created  on <b><%= dateFormat(blogcat.created_date )%></b></small>
  	<hr>
  	<p class='blog-post'><%- blogcat.description %></p>
  		<% for(var index in blogpost) { %>
  	<h3><a href="/blog/post/<%= blogpost[index].id%>"><%= blogpost[index].title%></a></h3>
  	<small>Posted By : <b><%= blogpost[index].nickname%></b> on <b><%= dateFormat(blogpost[index].created_date )%></b>
  	</small>
  	<hr>
  	<%- blogpost[index].content.substr(0,250)%>..<a  class="pull-right" href="/blog/post:<%= blogpost[index].id%>">read more</a>
	<% } %>
