	<% for(var index in blogpost) { %>
	<h2 class="entry-heading bottom-liner"><a rel="bookmark" title="Permalink to Tennis Cup 2012" href="/blog/post/<%= blogpost[index].id%>">
	<%= blogpost[index].title%></a></h2>
	<p class="post_meta bottom-liner">
	<span class="meta_date">Posted <a title="" href=""><%= dateFormat(blogpost[index].created_date )%></a></span>
	<span class="meta_author">by  <a href=""><%= blogpost[index].nickname%></a></span> 
	<span class="meta_category"> in&nbsp;<a rel="tag" href="">blogs</a></span> 
	<span class="meta_comments"> with <a title="" href="">0 Comments</a></span> 
    </p>

	<div class="entry-content">
	<p><%- blogpost[index].content.substr(0,500)%>..</p>
	<br>
		<p> <a class="more-link pull-right" href="/blog/post:<%= blogpost[index].id%>">(more…)</a></p>

	</div>
	<% } %>
